@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
}

:root {
  --primary: #0056D2;
  --secondary: #50C878;
  --tertiary: #FFAA4D;
  --quaternary: #B0B0B0;
}

.contact-buttons {
  font-family: "Lato", serif;
  margin-top: 1%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10%;
  gap: 2%;
}

.btn-head-connect {
  background: none;
  border: none;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  font-size: 100%;
}

.btn-head-contact {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
}

.btn-head-contact:hover {
  color: var(--primary);
}

.logo-head {
  width: 20%;
  height: auto;
}

.notifs-head {
  width: 6%;
  height: auto;
  margin-right: 5%;
  cursor: pointer;
}

.header-nav {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-nav-left {
  font-family: "Lato", serif;
  width: 100px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
}

.btn-nav-left:hover {
  color: var(--primary);
}

.btn-nav-right {
  font-family: "Lato", serif;
  border: none;
  background-color: #007bff70;
  font-size: 100%;
  font-weight: 600;
  width: 190px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-nav-right:hover {
  background-color: var(--primary);
}

.btn-nav-try {
  font-family: "Lato", serif;
  border: none;
  color: #ffffff;
  background-color: var(--primary);
  font-weight: 600;
  font-size: 100%;
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

}

.btn-nav-try:hover {
  background-color: #007bff70;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 10%;
  gap: 2%;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10%;
  gap: 2%;
}

.present-main {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.present-main-left {
  margin-left: 10%;
  width: 35%;
}

.title-main-home {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  word-wrap: break-word;
}

.p-main-home {
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  font-size: larger;
}

.btn-main-home {
  margin-top: 5%;
  display: flex;
}

.btn-main-right {
  font-family: "Lato", serif;
  margin-right: 50px;
  border: none;
  background-color: #007bff70;
  font-size: 100%;
  font-weight: 600;
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-main-right:hover {
  background-color: var(--primary);
}

.btn-main-try {
  font-family: "Lato", serif;
  border: none;
  color: #ffffff;
  background-color: var(--primary);
  font-weight: 600;
  font-size: 100%;
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-main-try:hover {
  background-color: #007bff70;
}

.present-mainimg-right {
  margin-right: 10%;
  display: flex;
}

.content-main-present {
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  margin-top: 2%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge-review-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notes-container {
  font-size: 20px;
  font-weight: bold;
}

.avis-google {
  margin-top: 5px;
  font-size: 14px;
  color: gray;
}

.banner-container-main {
  font-family: "Roboto", sans-serif;
  margin: 2% 10% 0% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f3fc;
  padding: 20px 0px;
  border-radius: 8px;
}

.banner-main-text {
  margin-left: 6%;
  font-size: 16px;
  font-weight: bold;
}

.banner-main-span {
  font-weight: bold;
  color: var(--secondary);
}

.separator-present-main-home {
  height: 1px;
  background-color: var(--quaternary);
  margin: 20px 10%;
}

.main-home-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.main-home-p {
  font-family: "Roboto", sans-serif;
  margin: 2% 10% 0 10%;
}

.content-main-home {
  margin: 2% 10% 0 10%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.feature-main-home {
  width: 22%;
}

.feature-main-home img {
  width: 50%;
  margin-left: 10%;
}

.main-title {
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  text-align: left;
  font-weight: bold;
}

.main-p {
  font-family: "Roboto", sans-serif;
  margin-top: 10%;
  text-align: left;
}

/* // PRESENTATION DES IDEES //  */

.features-ideas-content {
  display: flex;
  margin: 4% 10% 0 10%;
}

.features-ideas-content.inverse {
  flex-direction: row-reverse;
}

.ideas-main-img {
  flex: 1;
  display: flex;
  align-items: center;
}

.img-main {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.content-ideas-main {
  flex: 1;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.features-ideas-content.inverse .content-ideas-main {
  padding-left: 0;
  padding-right: 10%;
}

.icon {
  width: 40px;
}

.title-space {
  margin-top: 4%;
  display: flex;
  align-items: center;
}

.title-ideas-main {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 1%;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  font-size: 40px;
  color: var(--primary);
}

.title-ideas {
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  font-size: 18px;
}

.ideas-list {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  color: var(--primary);
  list-style-type: none;
}

.ideas-list li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.btn-ideas-try {
  font-family: "Lato", serif;
  margin-top: 5%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-ideas-try:hover {
  background-color: #45a049;
}

.content-footer {
  margin: 5% 10% 0% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS POUR LE LOGIN  */

.content-login {
  display: flex;
  height: 100vh;
}

.container-left {
  flex: 0;
  background-color: #dae2e9;
  padding: 20px;
}

.content-header-left {
  width: 33%;
}

.content-header-left img {
  display: flex;
  width: 25%;
}

.content-main-left {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-main-left{
  font-size: 25px;
  font-weight: 600;
  color: #0056D2;
}

.content-left-p {
  margin-top: 2%;
  font-size: 18px;
}

.content-main-left img{
  margin-top: 2%;
}

.bottom-left-p {
  font-size: 18px;
  margin-top: 2%;
  word-wrap: break-word;
  width: 200px; 
}

.container-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content-container-right {
  text-align: left;
  width: 70%;
}

.header-title-right {
  text-align: center;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

input[type="email"],
input[type="password"] {
  margin-top: 2%;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--primary);
  outline: none;
}

input[type="submit"] {
  margin-top: 3%;
  width: 100%;
  padding: 12px;
  background-color: #4a63ef;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #3b54d4;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

.separator span {
  color: #888;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
  margin-top: 3%;
  justify-content: center;
  gap: 10px;
}

.auth-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.auth-button .icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.auth-button:hover {
  border-color: #000000;
}

.container-signin {
  margin-top: 3%;
  justify-content: center;
  display: flex;
}

.lien-signin {
  font-size: 17px;
  padding-left: 1%;
  font-weight: 500;
  color: #000000;
}

.container-signin p {
  font-size: 17px;
  font-weight: 600;
  color: #8a8a8a;
}

.container-policy {
  margin-top: 3%;
  justify-content: center;
  display: flex;
}

.lien-policy {
  font-size: 14px;
  padding-left: 1%;
  color: #000000;
}

.container-policy p {
  font-size: 14px;
  color: #8a8a8a;
}
